﻿@model ChatSignalR.Models.ChatViewModel

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>
<body>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="content-chat">
            <div class="chat-header">
                <span id="spnName"></span>
            </div>
            <div class="messages-content" id="divChat"></div>
            <div class="row chattextarea">
                <div class="col-xs-9">
                    <textarea class="chat-textarea form-control textarea" rows="4" id="txtMsg"></textarea>
                </div>
                <div class="col-xs-3 send-button">
                    <button type="button" class="btn btn-success" id="btnSend">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function getModel() {
       
        $("#spnName").text("Czat z użytkownikiem: " + " @Model.UserToChat.FullName");
        userToChatId = "@Model.UserToChat.Id";
        connectionId = @Model.ConnectionId;
    }); 

    

</script>

@*@Model.UserToChat.FullName
    @Model.UserToChat.Id
    @Model.ConnectionId*@


@Scripts.Render("~/bundles/chat")

</body>
</html>





















