﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@model List<ChatSignalR.Entities.ApplicationUser>

<div class="chat-choose-user">
    Wybierz osobę do rozmowy:
    <div class="chat-user-list">

        @foreach (var usr in Model)
        {
            if (@usr.Email != User.Identity.Name)
            {
                <div class="chat-user-name">
                    @Html.ActionLink(usr.FullName, "ChatRoom", "Home", new { @userId = usr.Id }, new { @class = "chat-user-name" })
                </div>
            }
        }
    </div>
</div>





