﻿body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-color: #1e90ff;
    background-position: center;
    min-width: 1200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 0px;
    min-height: 100vh;  
    min-width: 1200px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}

.my-navbar {
    background-color: #ffd700;
    height: 60px;
    z-index: 1000;
}
    
.nav-panel {
    height: 50px;
    margin-top: 10px;
}

.menu-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.logged-as {
    margin-left: 5px;
    margin-right: 10px;
    float: right;
}

.before-login {
    margin-top: 20px;
    float: right;
}

.log-fb-button {
    margin-top: 20px;
    float: right;
    position: relative;
}

.content-chat {
    background-color: #d3d3d3;
    height: 400px;
    border-radius: 20px;
    border: solid grey 2px;
    margin-top: 100px;
}

.chat-header {
    text-align: center;
    font-weight: bolder;
    height: 20px;
    border-bottom: solid black 1px;
}

.messages-content {
    height: 300px;
    border-bottom: solid black 1px;
    overflow-y: auto;
}

.send-message-box {
    height: 80px;
}
  
.chattextarea {
    height: 80px;
    padding-top: 2px;
    padding-left: 10px;
}

.chat-textarea {
    resize: none;
    margin-top: 5px;
}

textarea.form-control {
    height: 60px;
}

.send-button { 
    margin-top: 20px;
    padding-left: 5px;
}

.message-received {
    display: inline-block;
    max-width: 300px;
    float: left;
    margin-left: 5px;
    background-color: burlywood;
}

.message-sent {
    display: inline-block;
    max-width: 300px;
    float: right;
    margin-right: 5px;
    background-color: lightblue;
}

.chat-choose-user {
     font-family: "Andale Mono", AndaleMono, monospace;
     margin-top: 40px;
     text-align: center; 
     font-size: 20px; 
     color: black; 
}

.chat-user-name {
     font-family: "Andale Mono", AndaleMono, monospace;
     text-align: center; 
     font-size: 20px;
     font-weight: bolder;
     color: darkred;
     
}

.chat-user-name:hover {
    color: darkred;
}

.chat-user-list {
    margin-top: 50px;
    text-align: center;
}

.min-width {
    min-width: 1200px;
}

.facebook-container {
    position: relative;
    z-index: 15;
}

.rectangle {
    height: 50px;
    border: solid 1px black;
}

.rectangle-big {
    height: 1200px;
    width: 1200px;
    border: solid 1px black;
}