﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tooltip")
</head>
<body>

<div class="my-navbar">
    <div class="container min-width">
        <div class="row">
            <div class="col-xs-4 nav-panel">
                <span class="menu-icon">
                    <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Strona główna"><i class="fa fa-home fa-3x"></i></a>
                </span>
                <span class="menu-icon">
                    <a href="@Url.Action("Chat", "Home")" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Przejdź do czatu"><i class="fa fa-weixin fa-3x"></i></a>
                </span>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
</div>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
