﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-8 before-login">
            <span class="logged-as">
                <a href="javascript:document.getElementById('logoutForm').submit()"><b>WYLOGUJ</b></a>
            </span>
            <span class="logged-as">
                Zalogowany jako: @((User.Identity as ClaimsIdentity).Claims.FirstOrDefault(c => c.Type == "FullName").Value)
            </span>
        </div>
    }
}
else
{
    <div class="col-xs-8">
        <div class="facebook-container">
            <a href="/Account/ExternalLogin?returnUrl=@(Url.Action("Chat", "Home"))"><img class="log-fb-button" src="~/Content/fb_login_button.png"/></a>
        </div>

    </div>
}
